<ng2-toasty></ng2-toasty>
<form class="example-form" [formGroup]="regForm" (ngSubmit)="register(regForm.value);">
  <mat-form-field class="example-full-width">
    <input formControlName="userName" matInput name="userName" placeholder="User Name" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="email" name="email" placeholder="User Email" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="phone" name="phone " placeholder="User phone number" value="">
  </mat-form-field>



  <mat-form-field class="example-full-width">
    <input matInput formControlName="newPassword" name="newPassword" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="confirmPassoword" name="confirmPassoword" placeholder="Confirm  password" [type]="hide2? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <div class="button-row">
    <button mat-raised-button color="primary" [disabled]="!regForm.valid">Register</button>

  </div>


</form>