<mat-card>
  <mat-card-header>
    <div class="example-header-image"></div>
    <mat-card-title>Add Product</mat-card-title>
  </mat-card-header>
  <ng2-toasty></ng2-toasty>
  <form class="example-form" [formGroup]="product_form" (submit)="addProduct(product_form.value);">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="title" name="name" placeholder="Product title">
    </mat-form-field>
   
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Product Description" formControlName="desc" name="desc"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Amount" type="text" class="example-right-align" formControlName="price" name="price">
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
    <input id="fileToUpload" type="file" name="image" formControlName="image" (change)="fileChangeEvent($event)" >
    <div class="example-button-row clearfix mt20">
      <button mat-raised-button color="primary" [disabled]="!product_form.valid">Primary</button>
    </div>
  </form>
  
</mat-card>